{% extends "base_sign.html" %}
{% load static %}
{% block title %}
Sign up!
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css">
{% endblock %}

{% block in_container_content %}
<div class="signup-form">
    <form action="{% url 'create' %}" method="post" class="signup-box">
        {% csrf_token %}
        <div class="welcome-text">
            Create Your Account!
        </div>
        <br>
        Email <br>
        <input type="text" name="email" class="email" placeholder="Your email">
        <br>
        <br>
        ID <br>
        <input type="text" name="username" class="Id" placeholder="Your account">
        <br>
        <br>
        Nickname <br>
        <input type="text" name="nickname" class="nickname" placeholder="Your nickname">
        <br>
        <br>
        Password <br>
        <input type="password" name="password1" class="password1" placeholder="Type Password">
        <br><br>
        Confirm your Password<br> <input type="password" name="password2" class="password2" placeholder="Confirm Password">
        <br><br>
        Select your main genre <br>
        <select class="instrument-select" >
            <option value="">select</option>
            <option value="1">classic</option>
            <option value="2">R&B</option>
            <option value="3">Hiphop</option>
            <option value="4">Rock</option>
            <option value="5">type your own</option>
        </select>
        <br>
        Select your main instrument <br>
        <select class="instrument-select" >
            <option value="">select</option>
            <option value="1">piano</option>
            <option value="2">drum</option>
            <option value="3">guitar</option>
            <option value="4">synthesizer</option>
            <option value="5">type your own</option>
        </select>
        <br>
        Set your profile message <br>
        <input type="text" name="profile_message" class="message" placeholder="Profile message" maxlength="100">
        <br><br>
        <button type="submit" class="sign-up-btn">Sign Up!</button>
    </form>
</div>
{% endblock %}