#banner_img {
    width: 100%;
    height: 50vh;
    /* z-index: -1; */
}

.signinbutton {
    border-radius: 6px;
    height: 5vh;
    width: 12vw;
    line-height: 40px;
    border: none;
    background-color: #02d5c6;
    color: white;
    margin-top: 3vh;
    font-size: 1.2rem;
}

.bodyClass {
    position: relative;
    min-height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.banner {
    position: relative;
}

.banner_text {
    color: #9effff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate( -50%, -50%);
}

.banner_title {
    font-size: 5rem;
    font-weight: 600;
}

.banner_comment {
    font-size: 1.3rem;
}

.searchAndBtn {
    width: fit-content;
    height: fit-content;
    margin: 0px auto;
    margin-top: 3vh;
    line-height: 40px;
}

.searchBar {
    float: left;
}

.form-control {
    height: 40px;
}

.btn {
    height: 40px;
}

.or {
    margin-left: 10px;
}

.Title {
    font-size: 1.7rem;
    font-weight: 400;
}

.uploadBtnWrapper {
    float: left;
    margin-left: 10px;
}

.uploadBtn {
    width: 200px;
    border: none;
    background-color: #02d5c6;
    color: white;
    height: 40px;
    border-radius: 6px;
}

.ContentWrapper {
    position: absolute;
    display: flex;
    /* left: 90px; */
    margin-top: 10vh;
}

.CMB {
    display: flex;
    position: relative;
    line-height: 30px;
    margin-bottom: 20px;
}

.moreBtn {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.PMB {
    display: flex;
    position: relative;
    line-height: 30px;
    margin-bottom: 20px;
}

.completeMusic {
    display: block;
    border-right: 1px solid rgb(199, 198, 198);
    padding-right: 2vw;
    margin-right: 2vw;
}

.progressMusic {
    display: block;
    margin-right: 1vw;
}

.albumart {
    margin-right: 2vw;
    width: 13vw;
    cursor: pointer;
}