.f1 {
    border-style:solid !important;
    border-radius: 20px !important;
    border-color: #02D5C6 !important;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}
.fcol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:20px;
}
.frow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.prow {
    display: flex;
    justify-content: space-around !important;
}
.img_preview {
    /* display: flex; */
    /*float: left !important;*/
    cursor: pointer;
    flex-direction: column; 
    width : 300px;
    height : 300px;
    margin: 20px;
    position: relative;
    /* border-radius: 27px; */
}
.img_preview .img-text {
    position:absolute;
    top:200px;
    left:10px;
    color:gray;
    font-weight: bold;
    font-size: 17px;
    text-shadow: -1px 0 white,
                0 1px white,
                1px 0 white,
                0 -1px white;
}
#image_section {
    border-style: none;
    border-radius: 27px;
}
#imgInput{
    display: none;
}
#melodyInput {
    display: none;
}
#hashtag-btn {
    height:45px;
    width: 60px;
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1px;
    padding-right: 1px;
}
#hash {
    border-style: none;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 3px;
    margin:5px;
}

.btn-inst {
    width : 20px;
    height: 20px;
    color: white;
    text-align: center;
}


#upload_bg {
    object-fit: cover;
    width : 100%;
}

.melody_content{
    outline: 2px dashed #92b0b3 ;
    outline-offset:-10px;  
    text-align: center;
    transition: all .15s ease-in-out;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    
}
#music_name {
    border-style: none;
    border-radius: 27px;
    background-color: lightgray;
    font-size: 12px;
    text-align: center;
}
.umelody {
    cursor: pointer;
    width : 300px;
    height : 200px;
    margin: 20px;
    position: relative;
    flex-direction: column; 
    justify-content: space-between;
    border-radius: 27px;
    border-style: none;
    background-color: #f0f0f0;
}
.mel-text {
    text-align: center;
    padding:10px;
}
.fa-music {
    text-align: center;
    font-size: 50px;
    color:lightgray;
    padding-bottom: 20px;
}
#ump{
    padding: 20px;
}

/**/
h3, p {
    text-align: center;
}

.form-group {
    margin: 30px;
}

.file-upload .form-control {
    height: 150px;
    outline: 1px dashed #ccc;
    outline-offset: -15px;
    background-color: #eee;
}
.file-upload .form-control:before {
    content: "\f093";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3em;
    left: 0;
    right: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
}
.file-upload .form-control:after {
    content: attr(data-message);
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: block;
}
.file-upload .form-control input[type="file"] {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
body.dragged .file-upload .form-control input[type="file"] {
    /* Make sure it is full screen, whatever the position absolute container */
    position: fixed;
    top: -50vh;
    bottom: -50vh;
    left: -50vw;
    right: -50vw;
    height: 200vh;
    width: 200vw;
    z-index: 10002;
}

body:after {
    content: 'You can drop the file. :-)';
    font-size: 2em;
    text-align: center;
    line-height: 100vh;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #eee;
    z-index: 10000;
    border-radius: 4px;
    border: thin solid #ccc;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

body.dragged:after {
    opacity: 1;
    visibility: visible;
}