.container-all-1{
    display:flex;
    flex-direction:row;
    background: linear-gradient(180deg, #FCBDBD 0%, rgba(255, 255, 255, 0.0260417) 76.56%, rgba(255, 255, 255, 0) 100%), #9ABCDC;
    justify-content:space-around;
}
.container1 {
    width: 75%;
}
.container1-1{
    object-fit: cover;
    height: 150px;
    display:flex;
    justify-content:space-between;
    margin: 0px;
}

.container1-1-1{
    /* width:800px; */
    height:150px;
    display:flex;
    margin-left : 20px;
    margin-top: 18px;
}
  
.container1-1-2{
  
    height: 150px;
    width: 200px;
    text-align: left;
}



.container1-2{
    /* object-fit: cover;
    margin-left: 20px; */
    display: flex;
    flex-direction: row;
}

.button{
    padding-top: 20px;
    border: none;
    outline: 0;
    mix-blend-mode: multiply;
    background-color:transparent;
    opacity:1.0;
}
.fa-play-circle {
    font-size: 70px;
    color: #242424;
    opacity: 30%;
    text-align: center;
}

.class-2{
    align-items: center;
    margin: 18px;
}
.owner{
    font-size: 20px;
}

.title{
    font-size: 27px;
    font-weight: bold;
}
.thumbnail{
    height: 250px;
    width: 250px;
}

.class-5{
    padding :10px;
}



.class-3{
    font-size: 30px;
    left:0px;
    text-align: right;
    padding-top: 20px;
    margin-top: 5px;
}

.comment-upload{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 1500px;
}

.comment-melody{
    display: flex;
    padding: 20px;
}

.small-nav{
    padding: 20px;
}



.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}
.text-span{
    background-color: #C4C4c4;
    color:#242424;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}