{% extends "base.html" %}
{% load static %}
{% block title %}submain 페이지{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/melody_default.css' %}" type="text/css">
{% endblock %}

{% block out_container_content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
<div class="container-all-1">
    <div class="container1">
        <div class="container1-1">
            <div class="container1-1-1">
                <div class="1">
                    <button onclick="wavesurfer.playPause()"><img class="button" src="https://icongr.am/entypo/controller-play.svg?size=111&color=currentColor" alt=""></button>
                </div>
                <div class="class-2">
                    <div class="owner"> {{melody.owner}}  <!--글쓰기--></div>
                    <div class="title">{{ melody.title}} <!--제목--></div>
                </div>
            </div>
            <div class="container1-1-2">
                <div class="class-3">
                     <!--hashtags-->
                    {% for tag in melody.hashtags.all %}
                    <span class="badge badge-dark">
                    #{{ tag.name }}
                    </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container1-2">
            <div class="4">
                <!--파형그리기-->
                <div id="waveform"></div>
                <script>
                    var wavesurfer = WaveSurfer.create({
                        // id="waveform" 인 오브젝트에 파형 생성
                        // 필수 옵션
                        container: '#waveform',
                        // 선택 옵션들 
                        waveColor: '#02D5C6',
                        progressColor: '#008179',
                        barWidth: 3,
                    });
                    //var wav = new Audio("{% static 'audio/music.mp3' %}");
                    wavesurfer.load("{% static 'audio/music.mp3' %}");
        
                </script>
            </div>
        </div>
    </div>
    <div class="container2">
      <div class="class-5">
            <!--image받은 것!-->
            <img class="thumbnail" src="{{melody.img.url}}" alt="My Image" width="100" height="200">
      </div>
    </div>
</div>

<div class="container-all-2">
    <div class="small-nav">작은네브바 버튼들</div>
    <div class=comment-melody>
        <div class="comment-list">
            <div class="comment-upload">
                <div class="8">악기</div>
                <div class="9">올린사람</div> <!--올린사람 프로필이나 닉네임 받아올 수 있게!-->
                <div class="10">음악파일</div>
            </div>
            <div class="11">Comment</div>
        </div>  
        <br> 
        <div class="10">좋아요</div>
    </div>
</div>

{% endblock %}

{% block in_container_content %}

{% endblock %}

